<template lang="pug">
  div#app-container
    .v-quagga(:onDetected="reader" :readerSize="readerSize" :readerTypes="['ean_reader']")
    p Test
    p {{detecteds}}
</template>

<script>
import csvtojson from '../csvtojson.js';

export default {
  data() {
    return {
      data: [],
      readerSize: {
        width: 640,
        height: 480
      },
      scaned: '',
      detecteds: [],
      key: '2PACX-1vRoGVUmYRCSG3IBBit0KhEDBZkAAsm8NU3owdsahrOeRytKf_66ndUeVKZMKTPk0AifxiMYuLYHGXsv'
    }
  },
  computed:{
    ticket: function(){
      return this.data.find(item=> item.id==this.scaned);
    }
  },
  methods:{
    loadData: function(item, key, gid){
      var vm = this;
      fetch(`https://docs.google.com/spreadsheets/d/e/${key}/pub?gid=${gid}&single=true&output=csv`)
      .then(response => response.text())
      .then(csv => csvtojson(csv))
      .then(function(json){
        vm[item]= JSON.parse(json);
      });
    },
    reader(data){

    }
  },
  mounted(){
    this.loadData('data', this.key, '0');
  }

}
</script>

<style>

</style>
